/**********************************************************************************************

	Title: CSS for xuedeisgn
	Author: Elmo Wu (by xuedesign studio)
	Build: v1
	Date: 2013/03

***********************************************************************************************
		1 通用
		2 首頁
		    2.1 頂端區塊
			2.2 主選單設定
			2.3 Banner 區塊
			2.4 最新消息
			2.5 最新商品
			2.6 完美底部佈局
			2.7 版權列區塊
		3 企業資訊
		    3.1 關於我們
			3.2 最新消息
			3.3 聯絡我們
		4 商品區
		    4.0 側邊選單
			4.1 商品列表
			4.2 商品內容
		5 會員專區
		6 購物流程
		7 403、404頁 
***********************************************************************************************/

/* 1. 通用 
-----------------------------------------------------------------------------------------------
===============================================================================================*/
body{
	margin: 0;
	padding:0;
	background: url(../images/bg_website.png) repeat-x;
	font-family:/*"微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU",*/ Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:22px;
	color:#5c5c5c}
a:link {text-decoration:none; color:#30aec7}
a:visited {text-decoration:none; color:#969f8a}
a:hover {text-decoration:underline; color:#F50}
form{margin:0; padding:0}
image{border:0}

.clean{ clear:both}
.hidden{ display:none}

/* 2. 首頁  
-----------------------------------------------------------------------------------------------
===============================================================================================*/
#wrap{ display:block; width:956px; margin:0 auto; padding:19px 19px 0 19px}

/*2.1 頂端區塊---------------------------*/
.top_area{ display:block; width:956px}
.logo, .shop_info, .sub_nav{ 
    display:block; 
    float:left; 
    overflow:hidden}
.logo{ width:180px; height:56px}
.shop_info{ 
    width:570px; 
	height:42px;
	padding-top:12px;}
.shop_info h1{ 
    font-size:1em; 
    color:#646b5b;
	letter-spacing:1px}
.shop_info p{ 
   font-size:0.813em;
   line-height:20px;
   color:#898888}
.sub_nav{ width:206px; height:56px; text-align:right}
.memberbox{font-size:0.813em}
.memberbox span{ 
   background:url(../images/icon_cart.png) no-repeat;
   padding-left:20px}
.memberbox a{color:#999898}
.memberbox a:hover{color:#F50}
.searchbox{
	width:198px;
	border:1px solid #bbbfb5;
	margin-top:5px;
	padding:1px 5px 0 1px}
.search_txt, .search_btn{ display:block; float:left}
.search_txt{
	width:174px; 
    border:none; 
	font-size:0.813em;
	line-height:20px;
	color:#999898;
	padding-left:5px}
.search_btn{
	background:url(../images/icon_glass.png) no-repeat;
	width:18px;
	height:16px;
	border:none;
	cursor:pointer;
	margin-top:2px}
	
/*2.2 主選單設定---------------------------*/	
nav{
	display:block;
	margin:20px 0 0 10px}
nav h2{ display:none}
nav li{
	font-family:"微軟正黑體","Microsoft JhengHei"; 
    font-size:1.125em;
	margin-right:10px}
.navigation li {
	position: relative;
	float: left}
/* 選單 li 裡面連結之樣式 */
.navigation li a{
	display: block;
	padding: 6px 10px;
	color: #7a7979}
.navigation li:hover a{
	display: block;
	padding: 6px 10px;
	background:#969f89;
	color: #FFF;
	text-decoration:none}	
/* 特定在第一層 > 第二層或以後下拉部分之樣式 */
.navigation ul{
	display: none;
	float: left;
	position: absolute;			
	left: 0;
	z-index:999;	
	margin: 0}
/* 當第一層選單被觸發時，指定第二層顯示 */
.navigation li:hover > ul{display: block}			
/* 特定在第二層或以後下拉部分 li 之樣式 */
/*.navigation ul li {}*/
/* 特定在第二層或以後下拉部分 li （最後一項不要底線）之樣式 */
/*.navigation ul li:last-child {}*/
/* 第二層或以後選單 li 之樣式 */
.navigation ul a {
	width: 120px;
	padding: 5px 6px;
	font-size:0.813em;	
	color: #666;		
	background: #4A533F;
	border-bottom:1px dashed #CCCCCC}
.navigation ul a:hover { background: #4A533F;}
/* 第三層之後，上一層的選單觸發則顯示出來（皆為橫向拓展） */
.navigation ul li:hover > ul{
	display: block;
	position: absolute;
	top: 0;				
	left: 100%}
.navigation ul li:hover > ul li{ font-size:1em}	
.navigation ul li:hover > ul a{ border-left:1px solid #CCCCCC}
/* 箭頭向下 */
.arrow-bottom {
	display: inline-block;
	margin-left: 5px;
	border-top: 4px solid #FFF;
	border-right: 4px solid transparent;				
	border-left: 4px solid transparent;		
	width: 1px;
	height: 1px}
/* 箭頭向右 */
.arrow-right {
	display: inline-block;
	margin-left: 12px;	
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-left: 3px solid #666;		
	width: 1px;
	height: 1px}
	
/*2.3 Banner 區塊---------------------------*/
#index_content{
   display:block;
   width:956px}
#banner{ 
   display:block; 
   position:relative; 
   width:955px; 
   height:433px;
   margin-top:11px}
#banner h3{ display:none}
#banner_main{ 
    display:block; 
	position:absolute; 
	width:955px; 
	height:433px; 
	background:#FFF; 
	top:0; 
	left:0; 
	z-index:99; 
	overflow:hidden;}
#banner_btn{
	display:block;
	position:absolute;
	width:200px;
	height:18px;
	bottom:25px;
	right:0;
	z-index:200}
#banner_btn a{
	display:block;
	float:left;
	width:14px;
	height:14px;
	color:#4A533F;
	border:1px solid #4A533F;
	background:#969f89;
	padding:0 0 5px 4px;
	margin:0 8px }
#banner_btn a.activeSlide, #banner_btn a:hover{ background:#4A533F; color:#FFF; text-decoration:none}

/*2.4 最新消息---------------------------*/
#news_box{
	display:block;
	width:956px;
	height:30px;
	background:#eaece7;
	margin:15px 0}
#news_box h3, #hot_sale h3{
	display:block;
	width:119px;
	height:30px;
	text-indent:-9999px}
#news_box h3{float:left; background:url(../images/bg_title-index.png) no-repeat}
#hot_sale h3{background:url(../images/bg_title-index.png) 0 -40px no-repeat}	
#news{
	display:block;
	float:left;
	width:822px;
	margin:5px 0 0 15px}
#news li{
	font-size:0.813em;
	line-height:22px}	
#news a:link {text-decoration:none; color:#5c5c5c}
#news a:visited {text-decoration:none; color:#969f8a}
#news a:hover {text-decoration:underline; color:#F50}

/*2.5 最新商品---------------------------*/
#hot_sale{
	display:block;
	width:956px;
	height:30px;
	background:#f3f3f3}
.sale_list{
	display:block;
	width:954px;
	padding:15px 1px 0 1px}
.sale_list ul{ padding-left:22px}	
.sale_list li, .product_list li{
	display:block;
	float:left;
	width:183px;
	height:265px;
	overflow:hidden;
	border:1px solid #e2e1e1;
	padding:10px 14px;
	font-size:0.813em;
	line-height:22px}
.sale_list li{margin: 10px 0 20px 22px}	
.product_list li{margin: 20px 9px;}	
.sale_list li h4, .product_list li h4{ font-weight:normal}	
.sale_list li:hover, .product_list li:hover{border:1px solid #f50}	
.sale_list li a, .product_list li a{ color:#5c5c5c; text-decoration:none}
.sale_list li a:visited, .product_list li a:visited{ color:#969f8a; text-decoration:none}				
.sale_list li a:hover, .product_list li a:hover{ color:#f50; text-decoration:none}
.sale_list li span, .product_list li span{ font-size:1.25em; font-weight:bold; padding-left:5px; color:#dd2828}

.product_list{display:block; width:705px; padding:0 2px 0 1px}				

/*2.6 完美底部佈局---------------------------*/
html, body, #wrap {height: 100%;}
body > #wrap {height: auto; min-height: 100%;}
#main_content{padding-bottom:57px}
.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/*2.7 版權獵區塊---------------------------*/
footer{
	clear:both;
	display:block;
	position: relative;
	width:100%;
	height:57px;
	background:url(../images/bg_footer.png) repeat-x;
	margin-top: -57px;
	/**margin-top: 600px;
	padding-top:19px*/}
footer .copyrightbar{
	display:block;
	width:956px;
	margin:0 auto;
	padding-top:19px}
.bar_left, .bar_right{ 
    display:block; 
	width:50%; 
	font-size:0.813em;
	line-height:22px}	
.bar_left{ float:left}
.bar_right{ float:right; text-align:right}		
footer a:link {text-decoration:none; color:#5c5c5c}
footer a:visited {text-decoration:none; color:#969f8a}
footer a:hover {text-decoration:underline; color:#F50}

/* 4. 商品區 
-----------------------------------------------------------------------------------------------
===============================================================================================*/
#page_content{ display:block; width:956px; padding-top:45px}
#subnav{ display:block; float:left; width:188px; padding:0 45px 0 15px}
#product_box{ display:block; float:right; width:708px}

/*4.0 側邊選單---------------------------*/
#subnav h2{ letter-spacing:2px; padding-left:5px}
#accordion {
	list-style: none;
	padding:0;
	width: 188px}
#accordion h3 {
	display: block;
	width: 168px;
	background: #eaece7;
	font-family:"微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU";
	font-size:0.938em;
	font-weight: bold;
	letter-spacing:1px;
	cursor: pointer;
	padding: 5px 5px 5px 15px;
	margin:10px 0}
#accordion ul {
	display: none;
	list-style: none;
	padding:0}
#accordion ul li {
	font-size:0.813em;
	letter-spacing:1px;
	padding: 5px 0 5px 15px;
	border-bottom:1px dashed #dbdbdb}
#accordion a {text-decoration: none; color:#5c5c5c}
#accordion a:visited {text-decoration:none; color:#969f8a}
#accordion a:hover {text-decoration:underline; color:#F50}

.aside_banner{
	display:block;
	width:188px;
	margin:20px 0}
.aside_banner>div{
	display:block;
	width:186px;
	height:72px;
	border:1px solid #dfe2db;
	margin:15px 0}	

/*4.1 商品列表---------------------------*/
.cakie_bar{display:block; font-size:0.75em; color:#898888}
.cakie_bar a{text-decoration: none; color:#898888}
.cakie_bar a:visited {text-decoration:none; color:#969f8a}
.cakie_bar a:hover {text-decoration:underline; color:#F50}

.inhead_bar{ 
   display:block;
   position:relative; 
   background:#f3f3f3; 
   height:30px; 
   margin-top:8px}
.inhead_bar h3{
   display:block;
   height:30px;
   padding:5px 0 0 40px; 
   font-size:1.125em; 
   color:#898888; 
   font-weight:normal; 
   background:url(../images/bg_title-index.png) 0 -80px no-repeat}
.inhead_bar p{
   display:block;
   position:absolute;
   top:5px;
   right:15px; 
   font-size:0.813em; 
   color:#8a8989}
.inhead_bar a{text-decoration: none; color:#8a8989}
.inhead_bar a:visited {text-decoration:none; color:#969f8a}
.inhead_bar a:hover {text-decoration:underline; color:#F50}

.quotes {
	padding: 3px; 
	margin: 20px 3px; 
	text-align: center}
.quotes a {
	border: #969f8a 1px solid; 
	padding:2px 5px; 
	color: #aaa; 
	margin-right: 2px; 
	text-decoration: none}
.quotes a:hover {
	border:1px solid #4A533F;
	background:#4A533F;
	color:#FFF; 
	padding:2px 5px; 
	margin-right: 2px}
.quotes a:active {
	border: #a0a0a0 1px solid; 
	padding:2px 5px; 
	margin-right: 2px}
.quotes span.current {
	border: #e0e0e0 1px solid; 
	padding:2px 5px; 
	font-weight: bold; 
	color: #fff; 
	margin-right: 2px; 
	background-color:#969f89}
.quotes span.disabled {
	border: #f3f3f3 1px solid; 
	padding:2px 5px; 
	color: #ccc; 
	margin-right: 2px}

/*4.2 商品內容---------------------------*/				