/**********************************************************************************************

	Title: CSS for xuedeisgn
	Author: Elmo Wu (by xuedesign studio)
	Build: v1.6
	Date: 2013/03

***********************************************************************************************
		1 通用
		2 首頁
		    2.1 頂端區塊
			2.2 Banner 區塊
			2.3 部落格新訊
			2.4 完美底部佈局
			2.5 版權列區塊
		3 關於我們
		4 作品展示
		5 聯絡我們
		6 線上諮詢
		7 403、404頁
		8 設計觀點 
***********************************************************************************************/

/* 1. 通用 
-----------------------------------------------------------------------------------------------
===============================================================================================*/
body{
	margin: 0;
	padding:0;
	background: url(../images/bg_website.png);
	font-family:/*"微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU",*/Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:20px;
	color:#565555}
a:link {text-decoration:underline; color:#00adee}
a:visited {text-decoration:underline; color:#8c8c8c}
a:hover {text-decoration:none; color:#F50}
form{margin:0; padding:0}
image{border:0}

.clean{ clear:both}
.hidden{ display:none}

.txt_bluelight{ color:#37F5FB}
.txt_bluee{ color:#40a3be; font-weight:bold; padding-right:10px; letter-spacing:1px}
.ccenter{ margin:0 auto}
.txt_strong{ font-size:1em; font-weight: bold;}

/* 2. 首頁  
-----------------------------------------------------------------------------------------------
===============================================================================================*/
#wrap{ display:block; width:954px; margin:0 auto}

/*2.1 頂端區塊---------------------------*/
#header{ display:block; width:954px}
				